[user]
  name = Charles Peach
  email = me@charlespeach.com
[core]
  editor = subl -n -w
  excludesfile = ~/.dotfiles/.gitignore_global
[color]
  ui = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
  freshness = "!f() { git for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:cyan)%(refname:short)%(color:reset) | %(committerdate:relative)%(color:reset) | %(subject)' | column -s '|' -t; }; f"