[user]
  name = Charles Peach
  email = charles@3months.com
[core]
  editor = subl -n -w
  excludesfile = /Users/starscream/.dotfiles/.gitignore_global
[color]
  ui = true

[credential]
helper = /opt/boxen/bin/boxen-git-credential
