[user]
  name = Charles Peach
  email = me@charlespeach.com
[core]
  editor = subl -n -w
  excludesfile = /Users/charlesp/.gitignore_global
[color]
  ui = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
